body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  height: 60px;
  width: 70px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  padding-right: 30px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
  text-decoration: underline;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

div {
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  margin-top: 15px;
  margin-top: 0;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.concert.overlay {
  background-image: url(./images/img-story-main.png);
  width: 630px;
  font-size: 40px;
  text-align: left;
}

.concert.overlay span {
  margin-left: 20px;
}

.earth.overlay {
  background-image: url(./images/img-story-2.png);
}

.camera.overlay {
  background-image: url(./images/img-story-3.png);
}

.cat.overlay {
  background-image: url(./images/img-story-1.png);
}

h2 {
  display: block;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  display: block;
  font-size: 16px
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

p {
  display: block;
}

.text {
  margin-top: 16px;
  margin-bottom: 17px;
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.article {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.bite {
  display: block;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: Whitesmoke;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  font-family: Verdana;
  font-size: 12px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.title {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
